.withFrame-2dL45i {
  margin-top: 0;
  height: 30px;
  align-items: center;
}
.winButton-3UMjdg {
  display: inline-flex;
  line-height: 30px;
  height: 100%;
  width: 46px;
  font-size: 16px;
  top: 0;
}
.wordmarkWindows-2dq6rw {
  top: 8px;
}
